@font-face
{
    font-family: "dragon_font";
    src: url("../fonts/font.ttf");
}

body
{
    background-color: black;
    margin : 0;
}

#mainCanvas
{
    z-index: 0;
    position: absolute;  
    background-image: url("../images/sea_background_1.png");
    -webkit-animation: animSeaWater 8s linear infinite;
}
@-webkit-keyframes animSeaWater {
    from { background-image: url("../images/sea_background_1.png"); }
    25%  { background-image: url("../images/sea_background_2.png"); }
    50%  { background-image: url("../images/sea_background_3.png"); }
    75%  { background-image: url("../images/sea_background_2.png"); }
    to   { background-image: url("../images/sea_background_1.png"); }
}

#wrapper
{    
    display: block;    
    margin : auto;
    width : 1280px;
    height: 720px;
    margin-top: 60px;
}

#loadingScreen
{
    display: block;
    width : 100%;
    height: 100%;
    background-image: url("../images/loading.png");
    font-family: "dragon_font";
}

#loadingLabel span
{        
    display: inline;
    position: absolute;
    font-size: 60px;
    color: gold;
    margin-left: 50px;
    margin-top: -11px;
}

#loadingLabel img
{
    position: absolute;
    width: 40px;
    -webkit-animation: rotateLoop 2s linear infinite;
}
@-webkit-keyframes rotateLoop {
   from { -webkit-transform: rotate(0deg); }
     to { -webkit-transform: rotate(360deg); }
}

#loadingLabel
{
    display: block;
    position: absolute;
    margin-left: 530px;
    margin-top: 635px;
}

#menuScreen
{
    display: none;    
    width : 100%;
    height: 100%;
    background-color: blue;
}

#gameScreen
{
    display: none;    
    width : 100%;
    height: 100%;
}

.cadre
{
    z-index: 5;
    position: absolute;
    margin-left: -94px;
    margin-top: -44px;
    width: 1466px;
    height: 807px;
    background-size: 100% 100%;
}

#gameScreen .cadre 
{
    background-image: url("../images/cadre.png");
}
#loadingScreen .cadre , #menuScreen .cadre
{
    background-image: url("../images/cadre_menu.png");
}

.HuPlayer
{
    display: none;
}
#HudP0
{
    width: 225px;
    height: 15px;
    background-color: rgba(255, 0, 0, 0.4);
    position: absolute;
    margin-top: 39px;
    margin-left: 83px;
    z-index: 4;
}
#ScoreP0
{
    position: absolute;
    margin-top: 55px;
    margin-left: 47px;
    text-align: center;
    z-index : 6;
}

#ScoreP1
{
    position: absolute;
    margin-top: 58px;
    margin-left: 948px;
    text-align: center;
    z-index : 6;
}

.ScorePanelPlayer
{
    color : white;
    font-family: "dragon_font";
    font-size: 35px;
    width : 294px;
    height: 30px;
}

#HudP1
{
    width: 225px;
    height: 15px;
    background-color: rgba(0, 255, 255, 0.4);
    position: absolute;
    margin-top: 40px;
    margin-left: 980px;
    z-index: 4;
}
.HudEnnemies
{
    width: 80px;
    height: 30px;
    font-size: 30px;
    color: gold;
    text-align: center;
    position: absolute;
    margin-top: 68px;
    margin-left: 600px;
    z-index: 10;
}