body
{
    background-color: white;
    margin : 0;
}

#wrapper
{    
    border : 1px solid pink;
    display: block;    
    margin : auto;
    width : 1280px;
    height: 720px;
}

#loadingScreen
{
    display: block;
    width : 100%;
    height: 100%;
    background-color: yellow;
}

#menuScreen
{
    display: none;    
    width : 100%;
    height: 100%;
    background-color: blue;
}

#gameScreen
{
    display: none;    
    width : 100%;
    height: 100%;
    background-image: url("../images/sea_background_1.png");
    -webkit-animation: animSeaWater 8s linear infinite;
}
@-webkit-keyframes animSeaWater {
    from { background-image: url("../images/sea_background_1.png"); }
    25%  { background-image: url("../images/sea_background_2.png"); }
    50%  { background-image: url("../images/sea_background_3.png"); }
    75%  { background-image: url("../images/sea_background_2.png"); }
    to   { background-image: url("../images/sea_background_1.png"); }
}